$bg-sidebar-1: #6E5D93;
$bg-sidebar-2: #4B446F;

//Boostraps
$bootstrap-icons-font-src: url(../fonts/bootstrap-icons.woff2)
format('woff2'),
url(../fonts/bootstrap-icons.woff) format('woff') !default;